<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.8/fullpage.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/homepage.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    
    <link href="https://fonts.googleapis.com/css?family=Lato|Rubik|Rubik+Mono+One&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/a5686a1bdd.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="{% static 'homepage-assets/favicon-moon.png' %}" type="image/x-icon">
    <title>home | badi's very own website</title>

</head>

<body>

    <div id="fullpage">

        <!-- Title Page -->
        <div class="section active">
                    
            <nav id="navigation-bar">
                <div id="navbar-brand">
                    <h3><a href="">B</a></h3>
                </div>

                <div id="navbar-items">
                    <ul class="list-inline">
                        <li class="list-inline-item ml-5">
                            <h2><a href="#secondPage">About</a></h2>
                        </li>

                        <li class="list-inline-item ml-5">
                            <h2><a href="{% url 'homepage' %}">Activities</a></h2>
                        </li>

                        <li class="list-inline-item ml-5">
                            <h2><a href="{% url 'blog' %}">Blog</a></h2>
                        </li>

                        <li class="list-inline-item active dropdown ml-4">
                            <h2><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Credentials</a></h2>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#thirdPage"><span class="nav-dropdown-items">Portfolio</span></a></li>
                                <li><a class="dropdown-item" href="https://drive.google.com/file/d/1OU3FW9TYOq70LjPKP1rqNOPta4xeLwjA/view?usp=sharing" target="_blank"><span class="nav-dropdown-items">Resume</span></a></li>
                                <li><a class="dropdown-item" href="#fifthPage"><span class="nav-dropdown-items">Contacts</span></a></li>
                            </ul>
                        </li>

                        <li class="list-inline-item active dropdown">
                            <h2><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Stories</a></h2>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                                <li><a class="dropdown-item" href="{% url 'story3' %}" target="_blank"><span class="nav-dropdown-items">Story 1 s/d 3</span></a></li>
                                <li><a class="dropdown-item" href="{% url 'datetime' %}" target="_blank"><span class="nav-dropdown-items">Date & Time</span></a></li>
                                <li><a class="dropdown-item" href="{% url 'academicSchedule' %}" target="_blank"><span class="nav-dropdown-items">Schedule</span></a></li>
                                <li><a class="dropdown-item" href="{% url 'event' %}" target="_blank"><span class="nav-dropdown-items">Events</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

            <section id="title-page">
                
                <div id="title" class="text-center">
                    <h1>BADI</h1>
                    <h6>an internet-web facade of Fahdii Ajmalal Fikrie</h6>
                </div>

            </section>
        </div>





        <!-- About Page -->
        <section id="about-page" class="section">

            <div class="container text-center">
                    
                <div id="about-card">

                    <div id="description" style="margin-bottom: 10px;">
                        <div class="description-title">
                            <h3>brief <u>description</u> about badi</h3>
                        </div> 

                        <div id="description-paragraph">
                            <p>
                                A 19 years old currently majoring Computer Science at the University of Indonesia,
                                Fahdii is very passionate when it comes to taking nap and listening to music.
                                He also loves spending his time watching movies, especially the thriller/mystery ones.
                            </p>
                        </div>
                    </div>

                </div>
            
            </div>

        </section>

        <!-- Portfolio Page -->
        <section id="portfolio-page" class="section" data-anchor="portfolio">
            
            <div id="slider-items">

                <div id="portfolio-desc" class="slide active text-center">
                    <div id="portfolio-content">
                        <h3>a very <u>humbled portfolio</u>, so to speak</h3>
                        <p>it is, perhaps, far as flashy as any experienced webdevs' portfolio,
                        thus the title <em>very humbled</em> came in. but be sure to hang tight!
                        because more awesome things are surely coming 😉</p>                        
                    </div>

                    <h5 class="slider-right" id="active-slider-right">start swiping! >></h5>
                    
                </div>

                <div class="slide text-center">
                    <span class="slide-icon-fa"><i class="fas fa-chevron-left fa-4x slider-left" id="slider-left"></i></span>

                    <a href="{% url 'story3' %}" target="_blank">
                        <img class="portfolio-image" src="{% static 'homepage-assets/portfolio1.png' %}" alt="badisveryown">
                    </a>

                    <span class="slide-icon-fa"><i class="fas fa-chevron-right fa-4x slider-right" id="slider-right"></i></span> 

                    <br>
                    <p class="portfolio-image-captions">my first take upon making this website, a version 1.0 per se. created for 
                    my web design class assignment (story 1 s/d 3)</p>
                </div>

                <div class="slide text-center">
                    <span class="slide-icon-fa"><i class="fas fa-chevron-left fa-4x slider-left"></i></span>

                    <a href="https://budayakblite-badi.herokuapp.com" target="_blank">
                        <img class="portfolio-image" src="{% static 'homepage-assets/portfolio2.png' %}" alt="budayakblite-badi">
                    </a>

                    <span class="slide-icon-fa"><i class="fas fa-chevron-right fa-4x slider-right"></i></span>    

                    <br>
                    <p class="portfolio-image-captions">my submission for the 4th programming assigment (TP4) of
                    the subject DDP1, uses flask and simple bootstrap</p>
                </div>

                <div class="slide text-center">
                    <span class="slide-icon-fa"><i class="fas fa-chevron-left fa-4x slider-left"></i></span>

                    <a href="https://badisveryfirst.netlify.com" target="_blank">
                        <img class="portfolio-image" src="{% static 'homepage-assets/portfolio3.png' %}" alt="badisveryfirst">
                    </a>

                    <span class="slide-icon-fa"><i class="fas fa-chevron-right fa-4x slider-right"></i></span>    

                    <br>
                    <p class="portfolio-image-captions">my very first personal webpage, made as the submission
                    for BEM PTI and FUKI ITF internship assignment</p>
                </div>

            </div>

        </section>


        <!-- Expertise Page -->
        <section id="expertise-page" class="section" data-anchor="skills">
            <div class="container text-center">
                <h3 class="resume-title">mini-showcase to my <u>growing expertises</u></h3>

                <div id="expertises">
                    <ul class="list-inline mt-5">
                        <li class="collapseButtons list-inline-item mx-5" data-toggle="collapse" data-parent="#expertises" href="#collapsePython" role="button" aria-expanded="false" aria-controls="#collapsePython">
                            <h5 style="text-decoration: underline; cursor: pointer;">python</h5>
                        </li>
    
    
                        <li class="list-inline-item mx-5">
                            <h5>html</h5>
                        </li>
                        
                        <li class="collapseButtons list-inline-item mx-5" data-toggle="collapse" data-parent="#expertises" href="#collapseCSS" role="button" aria-expanded="false" aria-controls="#collapseCSS">
                            <h5 style="text-decoration: underline; cursor: pointer;">css</h5>
                        </li>
    
    
                        <li class="collapseButtons list-inline-item mx-5" data-toggle="collapse" data-parent="#expertises" href="#collapseJavascript" role="button" aria-expanded="false" aria-controls="#collapseJavascript">
                            <h5 style="text-decoration: underline; cursor: pointer;">javascript</h5>
                        </li>
                    </ul>
    
                    <br>
    
                    <div class="accordion-group">
                        <div class="collapse" id="collapsePython">
                            <div class="card card-body">
                                <ul class="list-inline">
                                    <li class="list-inline-item mx-5"><h5>flask</h5></li>
                                    <li class="list-inline-item mx-5"><h5>django</h5></li>
                                </ul>
                            </div>
                        </div>
        
                        <div class="collapse" id="collapseCSS">
                            <div class="card card-body">
                                <ul class="list-inline">
                                    <li class="list-inline-item mx-5"><h5>bootstrap</h5></li>
                                </ul>
                            </div>
                        </div>
        
                        <div class="collapse" id="collapseJavascript">
                            <div class="card card-body">
                                <ul class="list-inline">
                                    <li class="list-inline-item mx-5"><h5>dom manipulation</h5></li>
                                    <li class="list-inline-item mx-5"><h5>es6/modern js</h5></li>
                                    <li class="list-inline-item mx-5"><h5>jQuery</h5></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <!-- Contacts Page -->
        <section id="contacts-page" class="section text-center">
            <div class="contacts-title">
                <h3>get <u>to know more</u> about me</h3>
            </div>
            <div class="container contacts-container text-center mt-5">
                <div class="contacts-icons">
                        <a class="contacts-icon mx-2" href="http://www.twitter.com/fahdikrie" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter-square fa-4x"></i></a>
                        <a class="contacts-icon mx-2" href="https://www.linkedin.com/in/fahdikrie/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in fa-4x"></i></a>
                        <a class="contacts-icon mx-2" href="https://www.gitlab.com/fahdikrie" target="_blank" rel="noopener noreferrer"><i class="fab fa-gitlab fa-4x"></i></a>
                        <a class="contacts-icon mx-2" href="http://github.com/fahdikrie" target="_blank" rel="noopener noreferrer"><i class="fab fa-github-square fa-4x"></i></a>
                </div>
                
            </div>
        </section>

    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.8/fullpage.min.js"></script>

<script>
    // window.onload = function() {
    //     if (window.jQuery) {  
    //         // jQuery is loaded  
    //         alert("Yeah!");
    //     } else {
    //         // jQuery is not loaded
    //         alert("Doesn't Work");
    //     }
    // }

    $('.slider-left').on('click', function(){
        fullpage_api.moveSlideLeft();
    });

    $('.slider-right').on('click', function(){
        fullpage_api.moveSlideRight();
    });

    $('.collapseButton').click( function(e) {
        $('.collapseButton').collapse('hide');
    });

    new fullpage('#fullpage', {
        //options here
        anchors:['firstPage', 'secondPage', 'thirdPage', 'fourthPage', 'fifthPage'],
        autoScrolling:true,
        scrollHorizontally: true,
        navigation: true,
        slidesNavPosition: "yellow"
    });

    //fullPage.js initialization
    initialization();

    // Add slider function to fontawesome button
    $(document).on('click', '.slider-right', function(){
        fullpage_api.moveSlideRight();
    });

    // Add slider function to fontawesome button
    $(document).on('click', '.slider-left', function(){
        fullpage_api.moveSlideLeft();
    });


    $(document).ready(function () {
    $('#fullpage').fullpage();

    $('.fp-prev').append('<span class="fa fa-angle-left"></span>');
    $('.fp-next').append('<span class="fa fa-angle-right"></span>');
    });

</script>

</body>

<!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>