<!DOCTYPE html>

{% include "schedulepage-templates/schedulebase.html" %} 

<style>
    div > #jadwal > form > #academic-formgroup > p > label {
        margin-left: 25%;
    }

    form > button {
        margin-left: 25%;
    }
    
    .button {
        color: yellow;
        background-color: #333333;

        width: 50%;
        height: 5vh;
        border: none;
        border-radius: 5px;

        font-weight: bolder;
    }

    .button:hover {
        background-color: #222222;
    }

    .academic-schedule-label {
        font-weight: 500;
        color: gold;
    }

    .schedule-card {
        margin-bottom: 3%;
    }

    .schedule-card-single {
        border: 1px solid yellow;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
    }

    p:hover {
        cursor: default;
    }

    h4:hover {
        cursor: default;
        color: gold;
    }
</style>

{% block content %}

<div class="container">

    <div id="jadwal">

        <form method="POST">
            <div id="academic-formgroup">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
    
            <button type="submit" class="button mt-3">Submit</button>
        </form>
    </div>
    
    <div class="text-center schedule-card">
        <h4 class="mb-3">Appointments:</h4> <br>
        <div class="row">
            {% for i in model %}
            <div class="schedule-card-single text-left col-lg-3 col-md-4">
                <form action="{% url 'deleteAppointment' %}" method="POST" class="text-left">
                    {% csrf_token %}
                    <input type="hidden" value="{{ i.id }}" name="id">


                    <button type="submit" class="delete-button" style="background-color: black; color: red; border: none; margin-left: -2%;">
                        <i class="fas fa-times fa-1x d-inline"></i> <h6 class="d-inline">delete</h6>
                    </button>
                </form>

                <h4><span class="academic-schedule-label" style="color: gold;"></span>{{ i.activity }}</h4>
                <p><span class="academic-schedule-label">Description : </span>{{ i.activity_desc }}</p>
                <p><span class="academic-schedule-label">People : </span>{{ i.people }}</p>
                <p><span class="academic-schedule-label">Location : </span>{{ i.location }}</p>
            </div>
            {% endfor %}
        </div>  
    </div>
        
</div>

{% endblock %}