<!DOCTYPE html>

{% include "schedulepage-templates/schedulebase.html" %} 

<style>
  .assignment-box {
    margin-top: 3%;
  }
  
  .assignment-cards {
    border: 1px solid yellow;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
  }

  .assignment {
    font-weight: 700;
  }

  .deadline {
    color: red;
  }

  .schedule-card-single {

    margin: 10px;
    padding: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .container-top {
    width: 100%;
    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow;
    margin-bottom: 3%;
  }

  a {
    color: yellow;
    text-decoration-color: none;
    text-decoration: none;
  }

  a:hover {
    color: gold;
    text-decoration-color: none;
    text-decoration: none;
  }
</style>

<div class="container container-top">
  <div class="schedule-card-single">
    <a class="mb-5" href="{% url 'academicAssignment' subject.subject_slug %}"><h1><span style="color: gold;"></span>{{ subject.subject }}</h1></a> <br>
    <p><span class="academic-schedule-label">Description : </span>{{ subject.description }}</p>
    <p><span class="academic-schedule-label">Lecturer : </span>{{ subject.lecturer }}</p>
    <p><span class="academic-schedule-label">Course's Credit : </span>{{ subject.course_credits }} SKS</p>
    <p><span class="academic-schedule-label">Semester : </span>{{ subject.semester }}</p>
    <p><span class="academic-schedule-label">Academic Year : </span>{{ subject.academic_year }}</p>
    <p><span class="academic-schedule-label">Classroom : </span>{{ subject.classroom }}</p>
  </div>


</div>


<div class="text-center">
  <h4>{{ subject.subject }}'s Assigments:</h4>
</div>


<div class="assignment-box container">
  <div class="row">
    {% for assignment in assignments %}
    <div class="assignment-cards text-left col-lg-4 col-sm-6">
      <span class="assignment"><h2>{{ assignment.assignment }}</h2></span>
      <span class="deadline">{{ assignment.deadline }}</span>
    </div>
    {% endfor %}
  </div>
</div>
















<!-- <div class="container">
    <div class="card">
      <div class="postingannya card-body my-5">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class="card-text">{{ post.author }} <span class="text-muted">{{ post.created_on }}</span></p>
        <p class="card-text content" style="font-size: large;">{{ post.content | safe }}</p>
      </div>
    
      <div class="card-body">
        <h4>all replies:</h4> <br>
        
        {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.name }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
      </div>

      <br><br><br>

      <div class="card-body">
        <h4>leave a reply!</h4>
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          <strong>your comment is succesfully posted!</strong> please wait for the admin's moderation
        </div>
        {% else %}
        <form method="POST" style="padding: 3% 10%;">
          <div class="form-group">
            {% csrf_token %}
            {{ comment_form.as_p }}
          </div>
          <button type="submit" class="button mt-3">Submit</button>
        </form>
        {% endif %}
      </div>
      </div>
</div> -->
