<!DOCTYPE html>

{% include "eventpage-templates/eventbase.html" %} 

<style>
    div > #jadwal > form > #academic-formgroup > p > label {
        margin-left: 25%;
    }

    form > button {
        margin-left: 25%;
    }
    
    .button {
        color: yellow;
        background-color: #333333;

        width: 50%;
        height: 5vh;
        border: none;
        border-radius: 5px;

        font-weight: bolder;
    }

    .button:hover {
        background-color: #222222;
    }

    .button-modal {
        color: yellow;
        background-color: #333333;

        width: 100%;
        height: 5vh;
        border: none;
        border-radius: 5px;

        font-weight: bolder;
    }

    .button-modal:hover {
        background-color: #222222;
    }


    .academic-schedule-label {
        font-weight: 500;
        color: gold;
    }

    .schedule-card {
        margin-bottom: 3%;
        margin-top: 3%;
    }

    .schedule-card-single {
        border: 1px solid yellow;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
    }

    a {
        color: yellow;
        text-decoration: none;
        text-decoration-color: none;
    }

    a:hover {
        color: gold;
        text-decoration: none;
        text-decoration-color: none;
    }

    .delete-button:hover {
        opacity: 90%;
    }

    p:hover {
        cursor: default;
    }

    h4:hover {
        cursor: default;
        color: gold;
    }
</style>

{% block content %}

<div class="container">

    <h3 class="text-center">all the upcoming events of badi</h3>

    
    <div id="jadwal">

        <form method="POST">
            <div id="academic-formgroup">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
    
            <button type="submit" class="button mt-3">Submit</button>
        </form>
    </div>

    <div class="text-center schedule-card">
        <h4 class="mb-5">All the upcoming events:</h4>

        <div class="row">

            {% for i in event %}
            <div class="schedule-card-single text-left col-lg-4 col-md-6 d-flex flex-column">
                <form action="{% url 'deleteEvent' %}" method="POST" class="text-left">
                    {% csrf_token %}
                    <input type="hidden" value="{{ i.id }}" name="id">


                    <button type="submit" class="delete-button" style="background-color: black; color: red; border: none; margin-left: -2%;">
                        <i class="fas fa-times fa-1x d-inline"></i> <h6 class="d-inline">delete</h6>
                    </button>
                </form>

                <!-- <a href=""><h4><span class="academic-schedule-label" style="color: gold;"></span>{{ i.subject }}</h4></a> -->
                <h4><span class="academic-schedule-label" style="color: gold;"></span>{{ i.nama_event }}</h4>
                <p><span class="academic-schedule-label">Description : </span>{{ i.deskripsi }}</p>
                <div class="">
                    <p><span class="academic-schedule-label">People/Guests : </span>
                        {% for guest in guests %}
                            {% if guest.event_host == i %}
                                <span class="list-items d-block ml-5">• {{ guest.guest }}</span>
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>
                
                <button type="submit" class="button button-modal mt-auto"><a href="{% url 'eventGuestsAdd' i.nama_event %}"><h6>think of joining?</h6></a></button>

            </div>
            {% endfor %}
        </div> 
        
    </div>
        
</div>

{% endblock %}


<!-- <button type="button" href="" class="button-modal" data-toggle="modal" data-target="#exampleModal">
    <h6>think of joining?</h6>
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
            <form method="POST">
                <div id="academic-formgroup2">
                    {% csrf_token %}
                    {{ guestform.as_p }}
                </div>
        
                <button type="submit" class="button mt-3">Submit</button>
            </form>
        </div>
        
      </div>
    </div>
</div> -->