<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blogpage-stylesheets/blog.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada|Rubik|Rubik+Mono+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a5686a1bdd.js" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="{% static 'homepage-assets/favicon-moon.png' %}" type="image/x-icon">
    <title>date & time | badi's very own datetimepage</title>
</head>

<style>

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

nav {
    margin: 0%;
}

a:hover {
    text-decoration: none;
}

.nav-desc {
    font-family: 'Rubik Black';
    color: yellow;
    padding-top: 8px;
    padding-left: 5px;
    font-size: 1.2rem;
}

#nav-desc1 {
    display: none;
}

#nav-desc2 {
    display: none;
}

#nav-icons1:hover #nav-desc1 {
    display: inline;
}

#nav-icons2:hover #nav-desc2 {
    display: inline;
}

::selection {
    background: #ffb7b7; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #ffb7b7; /* Gecko Browsers */
}

</style>

<body>

    {% include 'application-nav.html' %}


    <div class="container">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </div>
    
</body>

<script>
    $(function () {
    $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>

